.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  color: #385170;
}

.weather-app {
  padding: 20px;
  border: 1px solid #e7eaee;
  border-radius: 10px;
  color: #385170;
  background-color: #9fd3c7;
  font-weight: 300;
}
#search-form {
  margin-bottom: 5px;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 0;
  color: #142d4c;
}
ul {
  margin: 0;
  padding: 0;
  color: #385170;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}
footer {
  margin-top: 10px;
}

#search-city {
  background-color: #ececec;
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #9fd3c7;
}
#search-button {
  background-color: #142d4c;
  padding: 10px;
  color: #9fd3c7;
  border: none;
  border-radius: 5px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  line-height: 1;
  font-size: 48px;
  color: #142d4c;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -20px;
}
.first {
  margin-bottom: 10px;
}

#date {
  color: #142d4c;
  font-weight: 500;
}

#humidity {
  color: #142d4c;
  font-weight: 500;
}
#wind {
  color: #142d4c;
  font-weight: 500;
}
